main a {
    color: blue;
    text-decoration: underline;
}
.container {
    margin-top: 70px;
}
.about--basic {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    label {
        display: flex;
        /* display: inline-block; */
        margin-bottom: auto;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
    }
    input {
        width: 320px;

        padding: 8px 12px;
    }
}
.form-group {
    margin-top: 35px;
}
.form-group__title {
    margin-bottom: 12px;
    font-size: 18px;
    margin-right: 105px;
}
#subject {
    padding: 8px 12px;
}
.focus {
    display: flex;
    flex-direction: column;
    label {
        margin-top: 8px;
        font-size: 16px;
        padding: 0px 8px;
    }
}
.message--form {
    display: flex;
    textarea {
        margin-left: 105px;
        width: 320px;
    }
}

small {
    display: inline-block;
    margin-left: 165px;
}

button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 40px;
    border: none;
    background-color: #e35b5b;
    border-radius: 10px;
}
.contact--info {
    font-size: 18px;
}
.social-contact {
    margin: 12px;
    font-style: 18px;
    a {
        margin-top: 12px;
        margin-right: 24px;
        display: inline-block;
        width: 24px;
        height: 24px;
    }
    i {
        font-size: 24px;
    }
}
.contact--location {
    margin-top: 60px;
    iframe {
        width: 100%;
        height: 450px;
        display: block;
        margin: auto;
    }
}
.working-hours {
    margin-top: 60px;
    table {
        width: 40%;
        border-collapse: collapse;
        td,
        thead,
        th {
            padding: 8px 20px;
            border: 1px solid #000;
        }
    }
}
