* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
}
.container {
    padding: 20px;
    margin: auto;
    width: 1440px;
    height: 1039px;
    max-width: calc(100% - 48px);
}
/* Create layout */
.container {
    display: grid;
    gap: 20px;
    background-color: #000;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .item-1 {
        grid-row: 1 / 3;
    }
    .item-4 {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    .item-5 {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
    .item-6 {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }
    .item-7 {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }
    .item-8 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .item-9 {
        grid-row: 4 / 5;
        grid-column: 3 / 5;
    }
}
.item {
    background-color: #8bb8f6;
    border-radius: 30px;
    overflow: hidden;
}
.item-1,
.item-4,
.item-5,
.item-8 {
    background-color: #ff6400;
}

.item-1 {
    color: #fff;
    figure {
        position: relative;
        width: 400px;
        height: 70%;
        display: block;
        border-radius: 999px;
        margin-left: -70px;
        transform: translateX(100px);
        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 400px;
            height: 400px;
            background-color: #ff7b26;
            border-radius: 999px;
            z-index: -1;
            right: -80px;
        }
    }
    img {
        height: auto;

        left: -85px;
    }
    h2 {
        margin-top: 44px;
        margin-left: 28px;
        font-size: 2.8rem;
    }
    strong {
        margin-left: 28px;
        font-size: 2.8rem;
        font-weight: 400;
    }
}
.item-2 {
    position: relative;
    overflow: hidden;
    img {
        width: 60%;
        bottom: 40px;
        transform: translateX(-50%);
        margin-left: 50%;
        position: absolute;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    }
}
.item-3 {
    position: relative;
    .content {
        padding: 40px 30px 0px 30px;
        display: grid;
        gap: 10px;
        grid-template-rows: 100px 100px;
        grid-template-rows: 1fr;
        justify-items: center;
    }
    &::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 100%;
        height: 400px;
        background-color: #9bc2f7;
        border-radius: 999px;
        z-index: 0;
        top: -200px;
    }
}
.notice {
    padding: 0px 5px;
    width: 100%;
    height: 50px;
    background-color: #60738e;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4px 1fr 60px;
    justify-items: start;
    align-items: center;
    gap: 10px;
    z-index: 0;
    .notice__icon {
        margin-top: -5px;
        margin-bottom: 0px;
        align-self: center;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #ff6400;
    }
}
.notice--body {
    width: 90%;
    /* margin: 8px; */
    margin-top: 4px;
    margin-left: 27px;
    align-self: center;
    color: #f6f7f8;
    font-size: 1.2rem;
    .notice__desc {
        font-size: 0.8rem;
        color: #c8cfd8;
    }
}
.notice--info {
    display: grid;
    gap: 2px;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: right;
    margin-left: 10px;
    margin-bottom: 5px;
    .notice__time {
        margin: 0px;
        font-size: 0.8rem;
        color: #a4c5df;
    }
    .notice_mdi {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 5px;
        z-index: 3;
    }
}
.notice-2 {
    width: 95%;
}
.item-3 .media {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.item-4 {
    align-items: center;
    padding: 20px;
    z-index: 0;
    .content__title {
        color: #fff;
    }
    position: relative;
    &::before {
        position: absolute;
        bottom: -35%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: inline-block;
        width: 400px;
        height: 400px;
        background-color: #ff8d43;
        border-radius: 999px;
        z-index: -1;
        right: -80px;
    }
    &::after {
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: inline-block;
        width: 400px;
        height: 400px;
        background-color: #ff7a24;
        border-radius: 999px;
        z-index: -2;
        right: -80px;
    }
}
.content-4 {
    margin: 24px auto 24px auto;
    width: 90%;
    height: 80%;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.menu--item {
    width: 100%;

    background-color: #ff7b26;
    border-radius: 10px;
    display: grid;
    background-color: #fff;
    grid-template-columns: 1fr 40%;
    align-items: start;
    gap: 5px;

    .menu--content {
        margin-left: 6px;
        margin-top: 8px;
    }

    input {
        color: green;
    }
    .menu--status {
        display: inline;
        color: #fff;
        background-color: #dd9b1e;
        font-size: 1rem;
        padding: 2px 5px;
        border-radius: 3px;
    }
    .menu--title {
        margin-top: 4px;
        font-size: 1rem;
        font-weight: 700;
    }
    .menu--price {
        font-size: 1rem;
        margin: 2px;
        font-weight: 500;
    }
    .menu--desc {
        margin-top: 4px;
        margin-bottom: 0px;
        font-size: 0.8rem;
        color: #828282;
    }
    .menu--more {
        text-decoration: none;
        font-size: 1rem;
        color: #8f8e8e;
    }
    .menu--mdi {
        padding: 10px;
        position: relative;
        align-items: center;
        img {
            width: 120px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
        }
        .btn {
            padding: 2px 7px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #ff6400;
            background-color: #faeded;
            border-radius: 5px;
            color: #ff6400;
            font-size: 1rem;
            text-align: center;
        }
    }
}
.menu--item__sm {
    width: 90%;
    .menu--mdi {
        img {
            width: 100px;
            height: 90px;
        }
    }
}
.content-5 {
    width: 90%;
    height: 85%;
    padding: 5px 10px;
    margin: 6%;
    margin-bottom: 5%;
    margin-top: 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-content: end;
    gap: 5px;
    .col--item {
        background-color: #ff6400;
        display: grid;
        grid-template-rows: 1fr auto;
        justify-items: center;
        align-items: end;
        color: #fff;
        .date--value {
            z-index: 1;
        }
    }
    &::before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 250px;
        height: 250px;
        background-color: #ff8d43;
        border-radius: 999px;
        z-index: 0;
        left: -100px;
        bottom: -100px;
    }
}
.analytics--body {
    position: absolute;
    color: #fff;
    .analytics--title {
        font-size: 2.8rem;
        font-weight: 700;
    }
    .analytics--price {
        font-size: 3.8rem;
        font-weight: 600;
    }
    .analytics--more {
        color: #ffe2d1;
        font-size: 1.8rem;
    }
}
.analytics--decore {
    position: absolute;
    right: -80px;
    top: -30px;
    color: #ff802e;
    font-size: 8.4rem;
    letter-spacing: 5px;
    line-height: 100px;
    font-weight: 900;
    font-stretch: 75%;
}

.value--box {
    width: 100%;
    height: 170px;
    display: block;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 5px;
    position: relative;
}
.value--box__2 {
    height: 200px;
}
.value--box__3 {
    height: 230px;
    background-color: #8bb8f6;
}
.value--box__4 {
    height: 200px;
}
.value--box__5 {
    height: 270px;
    background-color: #8bb8f6;
}
.value--box__6 {
    height: 220px;
}
.value--box__7 {
    height: 250px;
}
