.about {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 470px;
        height: 470px;
        object-fit: cover;
        border-radius: 70px;
    }
}
.about .about--me {
    width: 550px;
    p {
        font-size: 2.4rem;
        margin-bottom: 18px;
    }
}
.favourite {
    margin-top: 70px;
    .favorite-quote {
        width: 100%;
        height: 100px;
        p {
            font-size: 22px;
            font-weight: 600;
            line-height: 22px;
        }
    }
}
